.button {
  @apply flex items-center justify-center gap-x-3 px-6 uppercase py-2 font-josefin_sans font-semibold rounded-xl transition duration-300 ease-in-out;

  &:disabled {
    @apply opacity-75 cursor-not-allowed;
  }

  &:hover {
    @apply transform scale-[1.01];
  }
}

.primary {
  @apply text-white bg-sky_blue-light border border-sky_blue-light hover:bg-sky_blue hover:text-white hover:border-sky_blue;
  box-shadow: 0 0 12px 10px var(--sky-blue-gradient);
  &:hover {
    box-shadow: 0 0 20px 15px var(--sky-blue-gradient);
  }
}

.transparent {
  @apply text-white bg-gray-blur;
  &:hover {
    @apply bg-gray-hover;
    box-shadow: 0 0 12px 10px var(--gray-blur);
  }
}

.white {
  @apply text-black bg-white hover:bg-white-hover;
  box-shadow: 0 0 12px 10px var(--sky-blue-gradient);
  &:hover {
    box-shadow: 0 0 20px 15px var(--white-blur);
  }
}

.link:hover {
  text-decoration: underline;
}

.standard {
}

.full {
  @apply w-full;
}
